requests==2.31.0
beautifulsoup4==4.12.2
pandas==2.1.0
numpy==1.26.3
pydantic==2.3.0
tls-client==1.0.1
markdownify==0.13.1
regex==2024.4.28
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9 

langchain==0.2.14
langchain-community==0.2.12
langchain-groq===0.1.9
unstructured==0.14.6
selenium==4.21.0
python-dotenv==1.0.0
python-docx